<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to my site!</h1>
    <p class="lead">My name is Frankie Torres and this is my portfolio website. Browse through some of my projects that I am proud of!</p>
  </div>
</div>

<div class="card-group">
  <% @projects.each do |project| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= project.title %></h5>
        <p class="card-text"><%= project.description %></p>
      </div>
      <div class="card-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-dark btn-sm"> <%= link_to 'Show', project %> </button>
          </div>
          <% if user_signed_in? %>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-outline-dark btn-sm"> <%= link_to 'Edit', edit_project_path(project) %> </button>
              <button type="button" class="btn btn-outline-dark btn-sm"> <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %> </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class="text-center">
  <% if user_signed_in? %>
      <button type="button" class="btn btn-outline-dark btn-sm"> <%= link_to 'New Project', new_project_path %> </button>
  <% end %>
</div>